.button {
  .link-normalize;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 5px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
}

.button--add {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  margin-bottom: 10px;
  border-color: #d22856;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  color: #d22856;
  cursor: pointer;

  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    color: #e08195;
  }
}

.button--cancel {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-color: #dddfe0;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  color: #dddfe0;
  cursor: pointer;

  &:hover {
    border-color: #b5b9be;
  }

  &:active {
    background-color: #b5b9be;
    color: #cdd0d3;
  }
}

@media (min-width: @tablet-width) {
  .button--add,
  .button--cancel {
    width: 261px;
    padding: 14px;
    margin-bottom: 25px;
    font-family: inherit;
    text-transform: none;
    font-size: 18px;
    font-weight: 700;
  }

  .button--cancel {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .button--add,
  .button--cancel {
    font-family: inherit;
    width: 180px;
    font-weight: 700;
  }
}
