.description__time-ago {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

.description__text {
  margin: 0;
  margin-bottom: 10px;
}

.description__like-amount {
  color: #d22856;
  text-transform: uppercase;
  font-size: 12px;
}

.description__like {
  fill: #d22856;
  cursor: pointer;
}
