.developed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 30px;
}

.developed__link:hover path {
  fill: #283645;
}

.developed__link:active path {
  opacity: 0.3;
}

.developed__icon path {
  fill: #d22856;
}

.developed__text {
  position: relative;
  top: -3px;
  left: 6px;
  margin: 0;
  margin-right: 15px;
}

.developed__icon--mobile {
  width: 38px;
  height: 57px;
}

.developed__text--form {
  position: relative;
  left: 5px;
  top: -5px;
}

.developed__icon--photo {
  width: 39px;
  height: 48px;
}

@media (min-width: @tablet-width) {
  .developed__text--form {
    position: relative;
    left: -1px;
    top: 3px;
  }

  .developed {
    justify-content: space-between;
    width: 128px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .developed__text {
    top: 3px;
    left: -1px;
    margin: 0;
  }

  .developed__link {
    padding-left: 7px;
  }

  .developed__icon {
    width: 40px;
    height: 50px;
  }

  .developed__icon--photo {
    position: relative;
    top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .developed {
    width: 150px;
  }

  .developed__text {
    font-size: 18px;
    margin: 0;
    padding-right: 0;
  }

  .developed__icon {
    width: 41px;
    height: 89px;
  }

  .developed__link {
    padding-left: 4px;
  }
}
