.download {
  background: url("../../img/iphone-hand-mobile@1x.png") no-repeat 0 40%, url("../../img/bg-back-mobile@1x.jpg") no-repeat, #1d2631;
  background-size: auto, contain;
}

.download--photo {
  min-height: 325px;
}

.download__btn {
  font-size: 18px;
  line-height: 1em;
  font-weight: bold;
  display: block;
  text-align: center;
}

.download__list {
  .list-normalize;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.download__item {
  .list-item-reset;
  font-size: 0;
}

.download__link {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 56px;
}

.download__link--appstore {
  background: url("../../img/logo-apple.svg") no-repeat center;
}

.download__link--playmarket {
  background: url("../../img/logo-android.svg") no-repeat center;
}

.download__link--widows {
  background: url("../../img/logo-microsoft.svg") no-repeat center;
}

.download__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7em;
  font-weight: 300;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download {
    background: url("../../img/iphone-hand-tablet@1x.png") no-repeat bottom, url("../../img/bg-back-tablet@1x.jpg") no-repeat;
  }

  .download__text {
    font-size: 18px;
    line-height: 1.7em;
  }

  .download--photo {
    background: url("../../img/bg-back-tablet@1x.jpg") no-repeat, #1d2631;
  }
}
