.download {
  padding-top: 30px;
  padding-bottom: 30px;
}

.download__title {
  display: none;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  line-height: 1.5em;
  font-weight: 300;
}

.download__btn {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1em;
  font-weight: bold;
}

.download__list {
  .list-normalize;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.download__item {
  .list-item-reset;
  font-size: 0;
}

.download__link {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  height: 56px;
}

.download__link--appstore {
  background: url("../../img/logo-apple.svg") no-repeat center;
}

.download__link--playmarket {
  background: url("../../img/logo-android.svg") no-repeat center;
}

.download__link--widows {
  background: url("../../img/logo-microsoft.svg") no-repeat center;
}

.download__text {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7em;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .download {
    width: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .download__text {
    font-size: 18px;
    line-height: 1.7em;
  }

  .download__title {
    display: inline-block;
    padding: 10px 30px;
    vertical-align: middle;
  }
}
