.effect {
  display: none;
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

.effect__wrapper {
  display: flex;
  justify-content: space-between;
}

.effect__timer {
  position: relative;
  display: flex;
  width: 240px;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.effect__timer-icon path {
  fill: #dedede;
}

.effect__timer-border {
  position: absolute;
  top: 67px;
  left: 23px;
  box-sizing: border-box;
  width: 205px;
  height: 205px;
  border: 15px solid #d22856;
  border-radius: 50%;
}

.effect__timer-border span {
  position: absolute;
  top: 69px;
  left: 31px;
  font-size: 96px;
  font-weight: 700;
  color: #d22856;
}

.effect__text-container {
  width: 296px;
}

.effect__title {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 10px;
  font-size: 30px;
  line-height: 1.2em;
}

.effect__text {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.71em;
}

.effect__link {
  color: #d22856;
  font-size: 14px;
  line-height: 1.7em;
}

@media (min-width: @tablet-width) {
  .effect {
    background-color: #ffffff;
    display: block;
    padding-top: 45px;
    padding-bottom: 0;
  }

  .effect__text {
    line-height: 1.77em;
    margin-bottom: 10px;
  }

  .effect__text-container {
    width: 307px;
    margin-right: 3px;
    padding-top: 52px;
  }

  .effect__title {
    margin-bottom: 10px;
  }

  .effect__timer-icon {
    width: 238px;
    height: 276px;
  }

  .effect__timer {
    padding-left: 5px;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    background-color: #f2f2f2;
    padding-bottom: 65px;
  }

  .effect__text-container {
    padding-top: 112px;
    width: 570px;
  }

  .effect__title {
    margin-bottom: 19px;
  }

  .effect__text {
    margin-bottom: 29px;
    font-size: 18px;
  }

  .effect__timer {
    padding-top: 20px;
    width: 300px;
  }

  .effect__timer-icon {
    width: 300px;
    height: 345px;
  }

  .effect__timer-border {
    width: 253px;
    height: 253px;
    top: 90px;
    left: 28px;
  }

  .effect__timer-border span {
    font-size: 120px;
    top: 84px;
    left: 40px;
  }

  .effect__link {
    font-size: 18px;
  }
}
