.features__list {
  .list-normalize;
  background-color: @gray;
  padding-top: 30px;
}

.features__item {
  display: block;
  text-align: center;
}

.features__item:last-child {
  overflow: hidden;
}

.features__title {
  font-size: 18px;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
}

.features__pic {
  position: relative;
  bottom: -45px;
}
