.page-header .wrapper {
  width: 100%;
}

.page-header__menu-container {
  background-color: #283645;
}

.page-header__pic {
  display: block;
  padding: 23px 20px;

  &:hover path {
    fill: #d02856;
  }
  &:active path {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.page-header__menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-size: 0;
  cursor: pointer;

  &:hover path {
    fill: #d02856;
  }
  &:active path {
    fill: #d02856;
    opacity: 0.3;
  }
}

.page-header__menu-container {
  position: relative;
  z-index: 1;
  margin-bottom: -110px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  align-items: center;
}

.page-header__logo svg {
  padding-top: 19px;
  padding-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .page-header__menu-toggle {
    top: 30px;
  }

  .page-header__logo {
    display: inline-flex;
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__menu-container .wrapper {
    display: flex;
  }

  .page-header .wrapper {
    width: 940px;
    margin: 0 auto;
  }
}
