.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-footer__logo {
  display: inline-block;
  margin: 38px 0;
}

.page-footer--index {
  display: none;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 130px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer--index {
    display: flex;
  }
}
