.photo__title {
  color: #283645;
  font-size: 14px;
  line-height: 2em;
  font-weight: normal;
  text-align: center;
}

.photo__pic {
  display: block;
  width: 100%;
}

.photo__low {
  max-width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px 15px;
}
