.photo__title {
  color: @navy-blue;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

.photo__pic {
  display: block;
  width: 100%;
  height: auto;
}

.photo__low {
  max-width: 280px;
  margin: 0 auto;
  background-color: @gray;
  padding: 20px 15px;
}
