.photo__title {
  color: #283645;
  font-size: 14px;
  line-height: 2em;
  font-weight: normal;
  text-align: center;
}

.photo__pic {
  display: block;
  width: 100%;
}

.photo__bottom {
  background-color: #f2f2f2;
  padding: 20px 15px;
  box-sizing: border-box;
}

.photo__item {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .photo__title {
    font-size: 18px;
  }

  .photo__bottom {
    width: 100%;
  }

  .photo__item {
    width: 300px;
  }

  .photo__item--day-panoram {
    width: 100%;
  }

  .photo__content-container .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .photo__item--day-panoram {
    width: 100%;
  }
}
