.promo {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.promo__text {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 1.7em;
  font-weight: 300;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .promo {
    padding-top: 55px;
  }

  .promo__item {
    font-size: 40px;
  }
}
