.site-menu {
  background-color: #283645;
}

.site-menu__list {
  .list-normalize;
}

.site-menu__item {
  padding: 15px 5px;
  background-color: #283645;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000
}

.site-menu__link {
  .link-normalize;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78em;
  text-align: center;
  color: #ffffff;
}
