.site-logo__img--header {
  display: block;
  padding: 30px 0;
}

.site-logo__img--tablet {
  display: none;
}

.site-logo__img--footer {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .site-logo__img--header {
    display: none;
  }

  .site-logo__img--tablet {
    display: block;
    padding: 20px 0;
  }
}
