.social {
  .list-normalize;
  display: flex;
  justify-content: center;
  font-size: 0;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link {
  display: block;
  height: 15px;
}

.social__link--tweeter path {
  fill: #d22856;
}

.social__link--facebook {
  position: relative;
  top: -3px;
}

.social__link--facebook path {
  fill: #d22856;
}

.social__link--youtube path {
  fill: #d22856;
}

.social__link--youtube {
  position: relative;
  left: 2px;
}
