.social {
  .list-normalize;
  font-size: 0;
  display: flex;
  justify-content: center;
}

.social__item {
  width: 50px;
  height: 50px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: block;
  height: 15px;
}

.social__link--tweeter path {
  fill: #d22856;
}

.social__link--facebook {
  position: relative;
  top: -3px;
}

.social__link--facebook path {
  fill: #d22856;
}

.social__link--youtube path {
  fill: #d22856;
}

.social__link--youtube {
  position: relative;
  left: 2px;
}

@media (min-width: @tablet-width) {

}
